@{
    Layout = "_Layout";
}

<div class="card">
    <div class="card-body">
        <div class="pagetitle">
            <p></p>
            <h1>Đăng ký gửi mực</h1>
            <p></p>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active">Đăng ký gửi mực</li>

            </ol>
        </div>

        <section class="section">

            <div class="row">
                <div class="col-lg-12">
                    <!-- Vertical Form -->
                    <form class="row g-4">
                        <div class="col-3">
                            <label class="form-label">MÃ NHÂN VIÊN</label>
                            <input type="text" class="form-control" id="manvmuc" onblur="CheckNV()" placeholder="MÃ NHÂN VIÊN">
                        </div>
                        <div class="col-6">
                            <label  class="form-label">HỌ VÀ TÊN</label>
                            <input type="email" class="form-control" id="hotenmuc" placeholder="HỌ VÀ TÊN" disabled>
                        </div>
                        <div class="col-3">
                            <label  class="form-label">ĐƠN VỊ</label>
                            <input type="text" class="form-control" id="donvimuc" placeholder="ĐƠN VỊ" disabled>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label class="form-label">Chọn máy in:</label>
                            <select id="cbolistprint" class="form-select" se="">
                                <option selected="" value="">=========</option>
                                <option value="1">Canon 3300 (49A)</option>
                                <option value="2">Canon 251DW (05A)</option>
                                <option value="3">Canon 6230 (35A)</option>
                                <option value="4">Canon 214 (26A)</option>
                                <option value="5">Canon 223 (76A)</option>
                                <option value="6">Canon 2900 (12A)</option>
                                <option value="7">HP 402</option>
                                <option value="8">HP 706</option>
                                <option value="9">Ruy băng máy in kim 2190</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label  class="form-label">TÊN HỘP MỰC</label>
                            <input type="text" class="form-control" id="tenhopmuc" placeholder="TÊN HỘP MỰC...">
                        </div>
                        <div class="col-4">
                            <label  class="form-label">MÔ TẢ TÌNH TRẠNG</label>
                            <input type="text" class="form-control" id="tinhtrangmuc" placeholder="HẾT MỰC,...">
                        </div>

                    </form><!-- Vertical Form -->
                    <p>
                        <div class="text-center">
                            <a class="btn btn-primary" onclick="DangKy()">ĐĂNG KÝ</a>
                            <a class="btn btn-danger" onclick="ResetForm()">CANCEL</a>
                        </div>
                    </p>
                </div>

            </div>

        </section>

    </div>

</div>

@section Scripts {
   <script>

async function DangKy() {
    var MA_NV = $('#manvmuc').val();          
    var TEN_HOP_MUC = $('#tenhopmuc').val();
    var TINH_TRANG = $('#tinhtrangmuc').val();
    var TRANG_THAI_PHIEU = "Đang sửa";
    var MAY_IN = $('#cbolistprint option:selected').text();
    var checkNV = await CheckNV();
    var checkHopMuc = CheckHopMuc();
    if (checkHopMuc) {
                if (checkNV) {
                    $.ajax({
                        url: '/DangKyGuiMuc/DangKyGuiMuc',
                        type: 'POST',
                        data: { MA_NV, MAY_IN, TEN_HOP_MUC, TINH_TRANG, TRANG_THAI_PHIEU },
                        success: function (response) {
                            if (response.mesage == "OK") {
                                Swal.fire(
                                    'Số phiếu là: ' + response.model,
                                    'Chúc mừng đăng ký thành công',);
                                ResetForm();
                            }
                        }
                    });
                }
    }  
    else{
        Swal.fire({
            icon: 'error',
            title: 'Lỗi',
            text: 'Bạn chưa chọn loại hộp mực máy in!',
           
        })
    }
          
    }


//Kiem Tra Ma Nhan Vien xem co ton tai
        //successCallback, errorCallback
async  function CheckNV() {

    var manv = $("#manvmuc").val();
    var response  = await  $.ajax({

        url: '/DangKyGuiMuc/KiemtraMaNV',
        type: 'POST',
        data: { manv }      
    });          
    if (response.mesage == "OK") {
        var item = response.model;
        $("#hotenmuc").val(item.tenNv);
        $("#donvimuc").val(item.donVi);
        return true;
        //successCallback(item.maNv);
    }
    else {
        Swal.fire(
            'Mã nhân viên chưa chính xác',
            'Xin nhập lại');
        //errorCallback();
        return false;
        ResetForm();

    }

}

        // Reset form da nhap
function ResetForm() {
    $("#manvmuc").val("");
    $("#hotenmuc").val("");
    $("#donvimuc").val("");
    $("#tenhopmuc").val("");
    $("#tinhtrangmuc").val("");
}
       function CheckHopMuc() {
            var hopmuc = $('#cbolistprint option:selected').text();
           if (hopmuc == '=========') {
               return false;
           }
           else{
               return true;
           }
       }
   </script>
}
