@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Xin chào Anh/Chị đến với trang web Sửa chữa MMTB CNTT</p>
    <p>Learn about <a href="https://cntt.vn">building Web apps with ASP.NET Core 7</a>.</p>
</div>
