@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="section">
<div class="card-body">
    <h5 class="card-title">Thông tin chi tiết phiếu sửa</h5>
    <div class="row">
        <div class="col-lg-12">
            <form class="row g-3">
                <div class="col-6">
                    Mã nhân viên: 
                </div>
                <div class="col-6">
                    b
                 </div>

            </form>

        </div>
    </div>
</div>
<hr />
<div class="card-body">
    <h5 class="card-title">Xác nhận của P.CNTT</h5>
</div>
</section>